* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

h1 {
	font-size: 1.5em;	
}

h2 {
	font-size: 1.2em;	
}

h3 {
	font-size: 1.1em;	
}

p {
	line-height: 130%;
}

#container {
	margin: 20px auto;
	overflow: hidden;
	width: auto;
	border: 2px solid #000;
	display: table;
	background-color: black;
	color: white;
	background-repeat: repeat;
	background-image: url("../images/wallpaper flamme.png"); /* see Credits.txt */
	/* CSS3 Shadow */
	-moz-box-shadow: 5px 5px 10px #888;
	-webkit-box-shadow: 5px 5px 10px #888;
	box-shadow: 5px 5px 10px #888;
}

#container a, #container a:link, #container a:visited {
	color: white;
}

#header {
	padding: 5px 20px;
	text-align: center;
	background-color: #000;
	color: white;
	border-bottom: 2px solid white;
}

#header h1 {
	font-size: larger;
}

#switchedPanel {
	position: relative;
	overflow: hidden;
}

#boardPanel {
	margin: 0 5px 0 5px;
	padding: 10px 0 0 0;
	overflow: hidden;
}

.panel {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.panelContent {
	/* position: absolute; */
	padding: 10px;
}

.panelButtons {
	position: absolute;
	text-align: right;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
}

.panelButtons input {
	border: 2px solid #4286C1;
	padding: 2px 3px;
}

#options p {
	margin-bottom: 15px;
}

#scorePanel {
	background-color: #641442;
	left: 100%;
}

#controlPanel {
	background-color: #4A6414;
	left: 100%;
}

#helpPanel {
	background-color: #223C71;
	left: 100%;
}

#boardArea, #storeArea {
	border: 2px solid #fff;
	padding: 2px;
	margin: 0 5px 10px 0;
	display: table;
	float: left;
}

#boardTable, #storeTable {
	background-color: white;
	border-collapse: collapse;
/*
	filter: alpha(opacity=90);
	-moz-opacity: 0.90;
	opacity: 0.90;
*/
}

#boardTable td, #storeTable td {
	width: 16px;
	height: 17px;
	font-size: 8px;
	padding: 1px;
	background-position: 50% 50%;
}

#optionsSwitch {
	text-decoration: none;
	font-size: smaller;
	outline-style: none;
}

#optionsSwitch img {
	border: 0;
}

.color1 {
	background: url("../images/red_24.png") no-repeat;
}

.color1.selected {
	background-color: #F89090;
}

.color2 {
	background: url("../images/green_24.png") no-repeat;
}

.color2.selected {
	background-color: #BFF95A;
}

.color3 {
	background: url("../images/blue_24.png") no-repeat;
}

.color3.selected {
	background-color: #AAD4FF;
}

.color4 {
	background: url("../images/yellow_24.png") no-repeat;
}

.color4.selected {
	background-color: #FBFB53;
}

.emptyField {
	background-color: transparent;
}

.scoreStatsData {
	padding: 0 10px 5px 0;
	font-size: 0.8em;
	font-weight: bold;
}

.scoreStatsData span {
	color: white;	
}

#resultsStats {
	font-size: smaller;	
}

#resultsStats td {
	text-align: center;	
}

#selectedScore {
	color: #cccccc;
	text-align: center;
	padding-bottom: 10px;
	float: left;
}

#scoreValue {
	color: white;
}

#totalScore {
	color: #cccccc;
	float: right;
	font-size: 0.8em;
}

#maxScore {
	font-size: 100%;
	margin: 0;
}

#gameTypeTitle {
	margin-bottom: 10px;
	font-weight: bold;
	color: #cccccc;
}

#playedGames, #avgScore {
	margin-left: 37px;
}

#footer {
	clear: both;
	float: none;
	border-top: 2px solid white;
	background-color: #000;
	font-size: smaller;
	padding: 5px;
	color: #CCE6FF;
}

#gmt1 {
	background-image:url("../images/gametype-1.png");
}

#gmt2 {
	background-image:url("../images/gametype-2.png");
}

#gmt2 {
	background-image:url("../images/gametype-2.png");
}

#gmt3 {
	background-image:url("../images/gametype-3.png");
}

#gmt4 {
	background-image:url("../images/gametype-4.png");
}

.gameTypeIcon {
	background-repeat:no-repeat;
	display:block;
	height:70px;
	width:70px;
	float: left;
	margin: 0 10px 10px 0;
	outline: none;
}

.gameTypeIcon:hover, .gameTypeIcon:active, .gameTypeIcon.selected {
	background-position: 0 -80px;
}

#boardBkgUrl {
    width: 100%;
}

#jsb_logo_icon {
	float: left;
	padding: 3px;
	margin: 0 10px 10px 0;
}