.themeSwitcher {
	border: 1px solid black;
	padding: 20px;
	width: 150px;
	font-weight: bold;
	display: block;
	margin: 20px 0;
}

#standardTheme {
	background-color: white;
	color: black;
}

#flameTheme {
	background: url("../images/wallpaper flamme.png") no-repeat 50%;
	color: white;
}