#boardTable, #storeTable {
	background-color: white;
	border-collapse: collapse;
/*
	filter: alpha(opacity=90);
	-moz-opacity: 0.90;
	opacity: 0.90;
*/
}

#boardTable td, #storeTable td {
	width: 16px;
	height: 17px;
	font-size: 8px;
	padding: 1px;
	background-position: 50% 50%;
}

.scoreStatsData {
	font-size: 0.8em;
}

.scoreStatsData span {
	color: white;
	font-weight: bold;
}

#resultsStats {
	font-size: smaller;
}

#resultsStats td {
	text-align: center;
}

#selectedScore {
	color: #cccccc;
}

#totalScore {
	color: #cccccc;
}

#playedGames, #avgScore, #maxScore {
	margin-left: 37px;
}

#boardBkgUrl {
    width: 100%;
}
