* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#container {
	margin: 20px auto;
	overflow: hidden;
	width: auto;
	border: 2px solid #000;
	display: table;
    background-color: black;
	color: white;
}

#header {
	padding: 5px 20px;
	text-align: center;
	background-color: #000;
	margin-bottom: 10px;
	color: white;
}

#header h1 {
	font-size: x-large;
}

#board {
	margin: 0 10px 0 10px;
}

#boardArea {
	border: 2px solid #fff;
	padding: 2px;
	margin-bottom: 10px;
	display: table;
	float: left;
}

#boardTable {
    background-color: white;
    border-collapse: collapse;
}

#boardTable td {
	width: 16px;
	height: 17px;
	font-size: 8px;
	padding: 1px;
	background-position: 50% 50%;
}

#optionsSwitch {
	text-decoration: none;
	font-size: smaller;
	outline-style: none;
}

#optionsSwitch img {
	border: 0;
}

#options {
	display: none;
	margin-top: 10px;
}

.color1 {
	background: url("images/red_24.png") no-repeat;
}

.color1.selected {
	background-color: #F89090;
}

.color2 {
	background: url("images/green_24.png") no-repeat;
}

.color2.selected {
	background-color: #BFF95A;
}

.color3 {
	background: url("images/blue_24.png") no-repeat;
}

.color3.selected {
	background-color: #AAD4FF;
}

.color4 {
	background: url("images/yellow_24.png") no-repeat;
}

.color4.selected {
	background-color: #FBFB53;
}

emptyField {
	background-color: white;
}

#controlPanel {
	padding: 0 10px 10px 10px;
}

#controlPanel input {	
	border: 2px solid #4286C1;
	padding: 2px 3px;
}

#totalScore, #maxScore, #selectedScore {
	font-weight: bold;
	padding: 0 10px 5px 0;
	display: table-cell;
}

#selectedScore {
	clear: both;
	width: 100%;
	font-size: 100%;
	text-align: center;
	font-weight: bold;
	padding-bottom: 10px;
}

#scoreValue {
/*	position: absolute;
	top: 0;
	right: 0;
	display: none;
	background-color: white;
	overflow:visible;
*/
	color: red;
}

#totalScore {
  font-size: 100%;
  float: left;
}

#maxScore {
	font-size: 100%;
	margin: 0;
  float: right;
}

#footer {
  clear: both;
	float: none;
	border-top: 2px solid white;
	background-color: #000;
	font-size: smaller;
	padding: 5px;
	color: #CCE6FF;
}
