/* Alternatywne czcionki do Segoe */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

/* GENERAL */
body, div, p, table, td, ul, ol, h1, h2 {
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", "Segoe UI Light", "Open Sans", Helvetica, Arial, Sans-Serif;
}

body {
	background-image: none;
	background-color: #294790;
	color: white;
	padding: 20px 50px;
	font-family: "Segoe UI Light", "Open Sans", Helvetica, Arial, Sans-Serif;
}

h1, h2 {
	font-weight: normal;
	font-family: "Segoe UI Light", "Open Sans", Helvetica, Arial, Sans-Serif;
	margin: 10px 0;
}

p {
	line-height: 130%;
}

/* HEADER */
#gameTitle {
	font-size: 50px;
	margin: 0;
}

#jsbLogoIcon {
	float: right;
}

ul#gameTopMenu {
	list-style: none;
	font-size: 28px;
	margin-bottom: 20px;
	font-family: "Segoe UI Light", "Segoe Light", Segoe, "Open Sans", Helvetica, Arial, Sans-Serif;
}

ul#gameTopMenu li {
	display: inline-block;
	margin-right: 35px;
	cursor: pointer;
	color: #ccc;
}

ul#gameTopMenu li.selected {
	color: white;
	font-weight: 800;
}
/* END HEADER */

/* PAGE MAIN CONTENT */
#viewPort
{
	width: 100%;
	max-width: 1800px;
	min-width: 800px;
	overflow: hidden;
	position: relative;
/*	outline: 1px solid red;*/
	height: 470px;
	color: white;
}

#viewPort a, #viewPort a:link, #viewPort a:visited {
	color: white;
	text-decoration: none;
}

#viewPort a:active, #viewPort a:hover
{
	text-decoration: underline;
}

#appContainer
{
	width: 10000px;
	height: 450px;
	overflow: visible;
	position: absolute;
}
/* END MAIN CONTENT */

.panelsArea
{
	width: 1100px;
	height: 450px;
    position: relative;
    float: left;
}

.panel {
	background-color: Black;
    position: relative;
    width: 300px;
	margin: 0 20px 20px 0;
    padding: 10px;
	float: left;
	min-height: 120px;
	overflow: auto;
}

#disqusPanel {
	background-color: #ddd;
	width: 500px;
	margin-top: 30px;
	padding: 10px 20px;
	color: black;
}

#disqusPanel div, #disqusPanel p, #disqusPanel a {
	font-family: "Segoe UI Semibold", Verdana, Tahoma, Helvetica, Arial, Sans-Serif;
}

#boardPanel, #controlPanel, #helpPanel, #scorePanel {
	height: 100%
}

#controlPanel {
	width: 350px;
}

#gameArea {
	width: 100%;
}

#selectedScore {
	font-weight: normal;
	color: #cccccc;
}

#totalScore {
	font-weight: normal;
	color: #cccccc;
}

#gameTypeTitle {
	font-weight: normal;
	color: gray;
}

#boardArea, #storeArea {
	background-color: White;
	border: 2px solid #fff;
	padding: 2px;
	margin: 0 5px 10px 0;
	display: table;
}

#storeArea
{
	float: left;
	display: none;
}

#boardTable, #storeTable {
	background-color: white;
	border-collapse: collapse;
/*
	filter: alpha(opacity=90);
	-moz-opacity: 0.90;
	opacity: 0.90;
*/
}

#boardTable td, #storeTable td {
	width: 16px;
	height: 17px;
	font-size: 8px;
	padding: 1px;
	background-position: 50% 50%;
}

#boardTable
{
	padding: 2px;
}

.panelTitle
{
	font-size: xx-large;
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: 10px;
}

.panelContent
{
	overflow: auto;
}

.panelButtons {
    bottom: 0;
    height: 48px;
    left: 0;
    padding: 10px 0;
    position: absolute;
    width: 100%;
	border-top: 1px solid white;
    text-align: center;
}

.panelButtons input
{
	border: none;
	padding: 2px 3px;
}

.scoreStatsData {
	font-size: 0.8em;
}

.scoreStatsData span {
	color: white;
	font-weight: bold;
}

#gameScorePanel {
    height: 220px;
}

#resultsStats {
	font-size: smaller;
}

#resultsStats td {
	text-align: center;
}

#playedGames, #avgScore, #maxScore {
	margin-left: 37px;
}

#boardBkgUrl {
    width: 100%;
}

#options p {
	margin-bottom: 15px;
}

/* Ikony poszczególnych typów gier*/
#gmt1 {
	background-image:url("../../images/themes/metro/gametype-1.png");
}

#gmt2 {
	background-image:url("../../images/themes/metro/gametype-2.png");
}

#gmt3 {
	background-image:url("../../images/themes/metro/gametype-3.png");
}

#gmt4 {
	background-image:url("../../images/themes/metro/gametype-4.png");
}

.gameTypeIcon {
	background-repeat:no-repeat;
	display:block;
	height:70px;
	width:70px;
	float: left;
	margin: 0 10px 10px 0;
	outline: none;
}

.gameTypeIcon:hover, .gameTypeIcon:active, .gameTypeIcon.selected {
	background-position: 0 -80px;
}

/* kulki */
.color1 {
	background: url("../../images/themes/metro/red_ball.png") no-repeat;
/*	background-color: #FF358B;
	background-image: none;*/
}

.color1.selected {
	background-color: #F89090;
}

.color2 {
	background: url("../../images/themes/metro/green_ball.png") no-repeat;
/*	background-color: #AEEE00;
	background-image: none;*/
}

.color2.selected {
	background-color: #BFF95A;
}

.color3 {
	background: url("../../images/themes/metro/blue_ball.png") no-repeat;
/*	background-color: #01B0F0;
	background-image: none;*/
}

.color3.selected {
	background-color: #AAD4FF;
}

.color4 {
	background: url("../../images/themes/metro/yellow_ball.png") no-repeat;
/*	background-color: yellow;
	background-image: none;*/
}

.color4.selected {
	background-color: #FBFB53;
}

.emptyField {
	background-color: transparent;
}